* {
    font-family: Arial, sans-serif;
}

html {
    font-size: 16px;
}

header.container,
.container.slideshow,
.container.pagination,
.container.buttons {
    text-align: center;
}

.container.slideshow img {
    display: block;
}

.container.slideshow caption {}
